<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>Todo App</title>
</head>

<body>

    <div style="margin-top: 40px;" class="ui container">
        <h1 class="ui center aligned header">Todo App</h1>
        <form class="ui form" action="/add" method="POST">
            <div class="field">
                <label>Todo Title</label>
                <input type="text" name="title" placeholder="Enter Todo...">
                <br>
                <button class="ui blue button" type="submit">Add</button>
            </div>
        </form>
        {%for todo in todos%}
        <div class="ui segment">
            <p class="ui big header">{{ todo.id }} | {{todo.title}}</p>
            {%if todo.completed == True%}
            <a class="ui green button" href="/completed/{{ todo.id }}">Completada</a>
            {%else%}
            <a class="ui gray button" href="/completed/{{ todo.id }}">Completada</a>
            {%endif%}
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor%}
    </div>
</body>

</html>